*{
    margin: 0;
    
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(223, 228, 230);
    display: flex;
    flex-direction: column;
}
@media(max-width:600){
    body{
        width: 50%;
    }
}


#navbar{
    justify-content: space-between;
    align-content: center;
    align-items: center;
    display: flex;
    height: 60px;
    background-color: rgb(29, 28, 28);
}
#logo{
    background-image: url(assets/logo3.jpg);
    background-size: cover;
    /* display: flex; */
    position: relative;
    left: 5px;
    height: 50px;
    width: 100px;
    color: white;
    text-align: center;
    align-content: center;
}
#logo:hover{
    border: 1px orange solid;
}
.adress{
    position: relative;
    left: 2px;
    height: 53px;
    
    text-align: center;
    align-content: center;
    width: 90px;
    color: white;
}
.adress:hover{
    border: 1px white solid;
}
#dil{

    font-size: 13px;
}
#search{
    /* border: 2px black solid; */
    border: none;
    /* border-radius:5px; */
height: 33px;
width: 400px;
}
button{
    font-size: 25px;
    border: none;
    border-radius:0px;
    height: 35px;
    width: 50px;
    background-color: rgb(236, 221, 5);
}
button:active{
    background-color:orange;
}
#card{ 
    display: flex;
    font-size: 25px;
    border-radius: 4px;
    height: 35px;
   color: white;
    align-content: center;
}
#baskit{
    font-size: 15px;
}
#card:hover{
    border: 1px white solid;
}
#sel{
    border: none;
    text-align: center;
    border-radius: 0px;
    height: 35px;
    width: 50px;
}
#end{
    border: 3px white solid;
    border-radius: 5px;
    display: flex;
    height: 34px;
    width: 503px;
}
#end:hover{
    border-color: rgb(236, 221, 5) ;
}
#list{
    /* text-align: center; */
    color: white;
    border: 1px black solid;
    align-content: center;
}
#list:hover{
    border-color: white;
}
#para{
    font-size: 13px;
}
#ord{
    border: 1px black solid;
    color: white;
}
#ord:hover{
border-color: white;
}
#acc{
    font-weight: 600;
}
#ret{
    font-size: 14px;
}
#pak{
    color: white;
    border: 1px black solid;
}
#pak:hover{
    border-color: white;
}
#panel{
    font-size: 15px;
    justify-content:space-between ;
    display: flex;
    align-content: center;
    align-items: center;
    height: 30px;
    background-color: rgb(67, 92, 102);
}

.box2{
    color: white;
    text-decoration: none;
}
#box1{
    color: white;
}
#box3{
    color: white;
}
#box5{
    width: 70%;
}
img{
    height: 500px;
    width: 100%;
}
#container1{
    position: relative;
    bottom: 300px;
    display: flex;
    justify-content: space-evenly;
}
#pic1{
    position: relative;
    top: 30px;
    right: 20px;
    height: 400px;
    width: 300px;
}
#pic2{
    position: relative;
    top: 30px;
    right: 25px;
    height: 400px;
    width: 300px;
}
#pic3{
    position: relative;
    top: 30px;
    right: 25px;
    height: 400px;
    width: 300px;
}
#bocs1{
    display: flex;
    /* align-items: center; */
    width: 350px;
    height: 450px;
    background-color: white;
    border: 1px white solid;
}
#bocs2{
    display: flex;
    /* align-items: center; */
    width: 350px;
    height: 450px;
    background-color: white;
    border: 1px white solid;
}
#bocs3{
    display: flex;
    /* align-items: center; */
    align-content: center;
    text-align: center;
    width: 350px;
    height: 450px;
    background-color: white;
    border: 1px white solid;
}
.essay{
    position: relative;
    left: 40%;
}
#bocs1:hover{
    border-color: black;
}
#bocs2:hover{
    border-color: black;
}
#bocs3:hover{
    border-color: black;
}
#container2{
    position: relative;
    bottom: 250px;
    display: flex;
    justify-content: space-evenly;
}
#container3{
    position: relative;
    bottom: 200px;
    display: flex;
    justify-content: space-evenly;
}
#pic4{
    position: relative;
    top: 30px;
    right: 20px;
    height: 400px;
    width: 300px;
}
#pic7{
    position: relative;
    top: 30px;
    right: 20px;
    height: 400px;
    width: 300px;
}
#pic6{
    position: relative;
    top: 30px;
    right: 35px;
    height: 400px;
    width: 300px;
}
#bocs4{
    display: flex;
    /* align-items: center; */
    width: 350px;
    height: 450px;
    background-color: white;
    border: 1px white solid;
}
#bocs5{
    display: flex;
    /* align-items: center; */
    width: 350px;
    height: 450px;
    background-color: white;
    border: 1px white solid;
}
#bocs6{
    display: flex;
    /* align-items: center; */
    width: 350px;
    height: 450px;
    background-color: white;
    border: 1px white solid;
}
#bocs4:hover{
    border-color: black;
}
#bocs5:hover{
    border-color: black;
}#bocs6:hover{
    border-color: black;
}
#pic5{
    height: 300px;
    width:150px ;
    position: relative;
    top: 30px;
    right: 20px;
}
#container4{
    border: 1px  rgb(223, 228, 230) solid;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    bottom: 370px;
    height: 150px;
    width: 1219px;
    background-color: white;
    display: flex;
    align-items:center ;
     align-content: center;
    text-align: center;
    
}
#sign{
    font-size: 12px;
   
    height: 30px;
    width: 230px;
    border: 1px  black solid;
    border-radius: 5px;
    background-color: rgb(245, 196, 61);
    /* margin-left:500px; */
   
} 
#sign:hover{
    background-color: orange;
    border-color: red;
}
#new{
    color: blue;
font-size: 14px;
}
#custom{
    display: flex;
    font-size: 15px;
}
#see{
    font-size: 15px;
}
#container5{
    display: flex;
    background-color: white;
    border: 1px white solid;
    width: 100%;
    height: 220px;
    position: relative;
    bottom: 180px;
}
#back{
    display: flex;
    align-items: center;
    justify-content: center;
   position: relative;
   bottom: 350px;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #1d395a;
}
#container6{
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 400px;
    width: 100%;
    background-color: #232f3e;
    position: relative;
    bottom: 350px; 
}
#container7{
    position: relative;
    bottom: 349.5px;
    height: 100px;
    width: 100%;
    background-color: #232f3e;
    color: rgb(223, 228, 230);;
    display: flex; 
    align-items: center;
justify-content: center;
/* justify-content: space-evenly; */
}
#pic8{
    margin-right: 100px;
    height: 50px;
    width: 100px;
}
#urdu{
    border: 1px solid  rgb(223, 228, 230) ;
    border-radius: 3px;
    background-color:#1c2631;
    color: white;
    height: 34px;
    width: 120px;
}
#dollar{
    margin-left: 30px;
    border: 1px solid  rgb(223, 228, 230)  ;
    border-radius: 3px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
height: 35px;
width: 150px;
background-color: #1c2631;
}
#container8{
    display: flex;
    align-items: center;
justify-content: center;
}
#container9{
    height: 400px;
    width: 100%;
    background-color:#131a22;
    position: relative;
    bottom: 349px;
    display: flex;
    justify-content: space-evenly;
    color:  rgb(223, 228, 230);;
    text-decoration: none;
    font-size: smaller;
}
 #container102{
    font-size: 14px;
    height: 100px;
    width: 100%;
    background-color:#131a22;
   position: relative;
   bottom: 350px;
   color: rgb(223, 228, 230);;
   display: flex;
   align-items: center;
   flex-direction: column;
}
#last{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
#last2{
    position: relative;
    top: 10px;
}
footer{
    height: 600px;
}


